#Body1 {
    text-align: center;
    background-color: orange;
}
#Body2 {
    text-align: right;
}
#Logo {
    border-radius: 25%;
}
#Rebirth {
    background-color: red;
}
#red {
    color: red;
    font-weight: bold;
}
#Unlocks {
    text-align: center;
    font-weight: bold;
}
#version {
    position: absolute;
    right: 5px;
    top: 0px;
}
#idk {
    position: absolute;
    left: 0px;
    top: 0px;
}
#orange {
    color: orange;
}