#Body1 {
    text-align: center;
    background-color: orange;
}
#Body2 {
    text-align: right;
}
#Logo {
    border-radius: 25%;
}
#Rebirth {
    background-color: red;
}
#red {
    color: red;
    font-weight: bold;
}
#Unlocks {
    text-align: center;
    font-weight: bold;
}
#version {
    position: absolute;
    right: 5px;
    top: 0px;
}
#idk {
    position: absolute;
    left: 0px;
    top: 0px;
}
#orange {
    color: orange;
}
#RESET {
    background-color: red;
    color: black;
    font-weight: bold;
}
#shop {
    height: 500px;
    width: 1000px;
}
iframe {
    border: 5px solid red;
}





.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    border-radius: 50%;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #4CAF50;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.value {
    margin-top: 20px;
    font-size: 20px;
}