body {
    background-color: orange;
}
#thisiscenter {
    text-align: center;
}
#title {
    font-weight: bold;
}
#Green {
    font-weight: bold;
    position: absolute;
    right: 15px;
    top: 0px;
    font-size: large;
}
#red {
    color: red;
    font-size: large;
    font-weight: bold;
    position: absolute;
    left: 110px;
    top: 17px;
}
#colorRed {
    color: red;
    font-weight: bold;
}
#idk {
    position: absolute;
    right: 250px;
    top: 10px;
}
#shopBuyOne {
    position: absolute;
    top: 200px;
    left: 30px;
}
#shopBuyTwo {
    position: absolute;
    top: 200px;
    left: 230px;
}
#shopBuyThree {
    position: absolute;
    top: 200px;
    left: 430px;
}
#shopBuyFour {
    position: absolute;
    top: 200px;
    left: 630px;
}
#shopBuyFive {
    position: absolute;
    top: 200px;
    left: 830px;
}
#RESET {
    background-color: red;
    color: black;
    font-weight: bold;
    text-align: center;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}





.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    border-radius: 50%;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #4CAF50;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.value {
    margin-top: 20px;
    font-size: 20px;
}